/*
!.gitignore
!README.md
!gradlew.bat
!gradlew
!build.gradle
!build.xml
!modules
!/gradle/
!/samples/
!/src
/src/gen

!/A6-CalcASM
/A6-CalcASM/src/gen
/A6-CalcASM/ant-bin
/A6-CalcASM/out
/A6-CalcASM/compiler.jar

!/config
!/tools
!/tests/
**/*.out