/*
!.travis.yml
!.gitignore
!README.md
!gradlew.bat
!gradlew
!build.gradle
!build.xml
!extendj
!/gradle/
!/src
/src/gen

!/CalcASM
/CalcASM/filter.fcl
/CalcASM/whole_graph_*
/CalcASM/src/gen
/CalcASM/ant-bin
/CalcASM/out
/CalcASM/compiler.jar
!sample.fcl
!/config
!/tools
!/tests/
**/*.out
