/*
!.gitignore
!readme.txt
!gradlew.bat
!gradlew
!build.gradle
!uicomponent-config.cfg
!/gradle/
!/samples/
!/src
/src/gen

!/A6-CalcASM
/A6-CalcASM/src/gen
/A6-CalcASM/ant-bin
/A6-CalcASM/out
/A6-CalcASM/compiler.jar
/A6-CalcASM/jastaddadui-typelist.cfg

/configCompiler
/configCompiler/src/gen
/configCompiler/ant-bin
/configCompiler/out
/configCompiler/cc.jar
/configCompiler/jastaddadui-typelist.cfg