.navigationParent{
    -fx-padding:0;
    -fx-background-color: #999999;
    -fx-border-width:0;
}

.topParent{
    -fx-background-color: #808080;
    -fx-border-width:0 0 1 0;
    -fx-border-color:#606060;
}

.our_button{
    -fx-background-color:#404040;
    -fx-text-fill:white;
    -fx-border-width:0px;
    -fx-border-color:#404040;
    -fx-border-radius: 0 0 0 0;
    -fx-pref-height:30px;
    -fx-background-radius: 0 0 0 0;
}

.our_button:hover{
    -fx-background-color:#202020;
}

.our_button:pressed{
    -fx-background-color:#808080;
    -fx-text-fill:#000000;
}

.updateFilterButton{
}

.VBoxParent{
    -fx-background-color: #606060;
    -fx-fit-to-height:true;
    -fx-fit-to-width:true;
    -fx-background-insets: 0;
    -fx-border-width:1 0 1 0;
    -fx-border-color:#AAAAAA #AAAAAA #404040 black;
}

.graphInfo .label{
    -fx-text-fill:#202020;
    -fx-font-weight:normal;
}

.graphInfo{
    -fx-background-color: #dddddd;
    -fx-padding: 5;
    -fx-background-insets: 0;
    -fx-border-width:1 0 1 0;
    -fx-border-color:#AAAAAA #AAAAAA #404040 black;
}

.paneParent{
    -fx-background-color: #606060;
    -fx-fit-to-height:true;
    -fx-fit-to-width:true;
    -fx-background-insets: 0;
    -fx-border-width:1 0 1 0;
    -fx-border-color:#AAAAAA #AAAAAA #404040 black;
}

.bottombar .label{
    -fx-font-size:10;
    -fx-font-weight:normal;
}

.topLeftAlign{
    -fx-fit-to-width:true;
    -fx-border-width:0 0 1 0;
    -fx-border-color:#AAAAAA black #404040 black;
}

.topRigthAlign{
    -fx-alignment:top-right;
    -fx-fit-to-width:true;
    -fx-border-width:0 0 1 0;
    -fx-border-color:#AAAAAA black #404040 black;
}

.typeListView {
    -fx-fit-to-height:true;
    -fx-fit-to-width:true;
    -fx-background-color: #606060;
}

.typeTreeView, .tree-cell {
 -fx-background-color: #606060 ;
 -fx-text-fill: white ;
}

.tree-cell:selected{
    -fx-background-color:#609060;
}


.tree-cell:expanded, .tree-cell:sub-tree-item {
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.tree-cell .tree-disclosure-node .arrow {
-fx-background-color: #ffffff;
}

.tree-cell:expanded .tree-disclosure-node .arrow {
}

.graphView {
    -fx-pref-height:2000;
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
    -fx-background-color: #606060;
}

.graphSplitPane{

}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 10;
}

.tab-pane .tab-header-area .control-buttons-tab .arrow {
        -fx-opacity: 0;
}

.tab-pane .tab-header-area .control-buttons-tab .tab-down-button {
        visibility:hidden;
        -fx-opacity: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: #808080;
    -fx-padding: 0 0 0 0;
    -fx-border-width:1 0 1 0;
    -fx-border-color:#AAAAAA transparent #404040 transparent;
}

.our_label{
    -fx-text-alignment:center;
    -fx-height:paneParent;
    -fx-pref-height:30px;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-border-width:0;
}

.tab{
    -fx-background-insets: 0 0 0 0,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #808080;
}

.tab-pane .tab:selected
{
    -fx-background-color: #606060;
    -fx-focus-color: transparent;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #eeeeee;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding:1;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
/*    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;  overriden as 5 2 0 0 */
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #AAAAAA;
    -fx-text-fill: white;
}

.list-cell{
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #808080;
}

.list-cell:odd {
    -fx-background-color: #707070;
}

.list-cell:filled:hover {
    -fx-background-color: #999999;
    -fx-text-fill: white;
}

.consoleTextFlow{
    -fx-background-color:#363636;
    -fx-padding:10 0 0 10;
}

.consoleTextWarning{
    -fx-fill: yellow;
    -fx-font-size:13;
    -fx-font-family:sans-serif;
}

.consoleTextError{
    -fx-fill: red;
    -fx-font-size:13;
}

.consoleTextMessage{
    -fx-fill: white;
    -fx-font-size:13;
}

.consoleScrollPane{
    -fx-fit-to-height:true;
    -fx-fit-to-width:true;
    -fx-background-color: #363636;
}

.minimizeButton{
    -fx-background-color:#404040;
    -fx-text-fill:white;
    -fx-border-width:0px;
    -fx-border-color:#404040;
}

.minimizeButton:hover{
    -fx-background-color:#202020;
}
.split-pane{
    -fx-background-color:transparent;
    -fx-background:transparent;
    -fx-padding:0;
    -fx-background-insets: 0;
}

.split-pane .split-pane-divider {
   -fx-border-width:1;
   -fx-padding: 1;
   -fx-border-color: transparent black transparent black;
   -fx-background-color: #202020;
   -fx-background-insets: 0;
}

.context-menu {
  -fx-background-color: #808080;
  -fx-text-fill: white;
}



/* The main scrollbar CSS class of ListView */
.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color:transparent;
}

/* The increment and decrement button CSS class of scrollbar */
 .increment-button , .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:derive(gray,80%);
	-fx-border-width:0;
}

/* The main scrollbar **track** CSS class  */
 .scroll-bar:horizontal .track ,
 .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(gray,80%);
	 -fx-border-width:0;
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
 {
	-fx-shape: " ";
	-fx-padding:2;
}